<div class="row">
  <% @maxims.each do |maxim| %>
      <div class="col s12 m10 offset-m1 l10 offset-l1">
        <div class="card">
          <div class="card-image">
            <%= output_img maxim.img_path, {style: 'width: 100%', class: 'h-img'} %>
            <span class="card-title word">
              <%= maxim.word %>
              <span class="author">by <%= maxim.author %></span>
            </span>
          </div>
        </div>
      </div>
  <% end %>
</div>
